@model IEnumerable<EntityLayer.ReservationReportE>
@using System.Globalization;
<div id="tablaContainer"></div>
<table id="tblReservationReport">
    <thead>
        <tr>
           
            <th>Identificación</th>
            <th>Cliente</th>
            <th>Tipo</th>
            <th>Días</th>
            <th>Detalle</th>
            <th>Fecha de Entrada</th>
            <th>Fecha de Salida</th>
        
        </tr>
    </thead>
    @foreach (var reporteReservacion in Model)
    {
        <tr>
           
            <td>@Html.DisplayFor(model => reporteReservacion.Identification)</td>
            <td>@Html.DisplayFor(model => reporteReservacion.Client)</td>
            <td>@Html.DisplayFor(model => reporteReservacion.ReservationType)</td>
            <td>@Html.DisplayFor(model => reporteReservacion.Days).ToString()</td>
            <td>@Html.DisplayFor(model => reporteReservacion.Descripction)</td>
            <td>@Html.DisplayFor(model => reporteReservacion.checkIn).ToString()</td>
            <td>@Html.DisplayFor(model => reporteReservacion.checkOut).ToString()</td>
        
        </tr>
    }
</table>


