@model IEnumerable<EntityLayer.DailyJobsE>
@using Newtonsoft.Json

@{
    if (Session["User"] == null || Session["List_Menu"] == null)
    {
        var redirectUrl = Url.Action("Index", "Login");
        <script type="text/javascript">
            window.location.href = '@Html.Raw(redirectUrl)';
        </script>
    }
}

<div class="row">
    <div class="col-12 table-responsive">
        <table id="tblDailyJobs" class="table table-hover table-custom">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Fecha ejecución</th>
                    <th>Estado</th>
                    <th>Responsable</th>
                    <th>Frecuencia</th>
                    <th>Días sin realizar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var dailyJobs in Model)
                    {
                        <tr>
                            @* Tipo *@
                            @if (dailyJobs.Type == "1")
                            {
                                <td>Diaria</td>
                            }
                            else
                            {
                                <td>Especial</td>
                            }

                            @* Descripción *@
                            <td>@Html.DisplayFor(m => dailyJobs.Description)</td>

                            @* Fecha ejecución *@
                            <td>
                                @{
                                    var fecha = dailyJobs.Date.ToString("dd/MM/yyyy");
                                    if (fecha == "01/01/1900") { fecha = "Sin Fecha"; }
                                }
                                @fecha
                            </td>

                            @* Estado *@
                            @if (dailyJobs.Status == "False")
                            {
                                <td>Pendiente</td>
                            }
                            else
                            {
                                <td>Realizado</td>
                            }

                            @* Responsable *@
                            <td>@Html.DisplayFor(m => dailyJobs.Name)</td>

                            @* Frecuencia *@
                            @if (dailyJobs.Type == "2")
                            {
                                <td>@Html.DisplayFor(m => dailyJobs.Frequency)</td>
                            }
                            else
                            {
                                <td>Diaria</td>
                            }

                            @* Días sin realizar *@
                            <td>@Html.DisplayFor(m => dailyJobs.Dias_Sin_Realizar)</td>

                            @* Acciones *@
                            <td>
                                @if (dailyJobs.Status == "False")
                                {
                                    <button type="button" class="btn green-button" onclick="JobDone(this);" data-dailyJob='@JsonConvert.SerializeObject(dailyJobs)'>
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-danger" onclick="DeleteReservation(@dailyJobs.Id)">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="no-data">
                            No se encontraron datos
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
